<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>Record adding form</h2>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.name.label }}<br />
        {{ form.name(size=32) }}
      </p>
      <p>
        {{ form.surname.label }}<br />
        {{ form.surname(size=32) }}
      </p>
      <p>
        {{ form.adress.label }}<br />
        {{ form.adress(size=32) }}
      </p>
      <p>
        {{ form.tag.label }}<br />
        {{ form.tag(size=32) }}
      </p>
      <p>
        {{ form.note.label }}<br />
        {{ form.note(size=32) }}
      </p>
      <p>
        {{ form.birthday.label }}<br />
        {{ form.birthday(size=32) }}
      </p>
      <p>
        {{ form.email.label }}<br />
        {{ form.email(size=32) }}
      </p>
      <p>
        {{ form.phone.label }}<br />
        {{ form.phone(size=32) }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    {% endif %} {% endwith %}
  </body>
</html>
