<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="text-align: center">
    <h2>Hello, I am a personal assistant!</h2>
    <div>
      <button>
        <a
          href="http://127.0.0.1:5000/records"
          style="font-size: 24px; color: rgb(16, 172, 5)"
          >Show all records</a
        >
      </button>
      <button>
        <a
          href="http://127.0.0.1:5000/add"
          style="font-size: 24px; color: rgb(16, 172, 5)"
          >Add record</a
        >
      </button>
      <button>
        <a
          href="http://127.0.0.1:5000/find"
          style="font-size: 24px; color: rgb(16, 172, 5)"
          >Find record</a
        >
      </button>
      <button>
        <a
          href="http://127.0.0.1:5000/delete"
          style="font-size: 24px; color: rgb(16, 172, 5)"
          >Delete record</a
        >
      </button>
      <button>
        <a
          href="http://127.0.0.1:5000/update"
          style="font-size: 24px; color: rgb(16, 172, 5)"
          >Update record</a
        >
      </button>
    </div>
  </body>
</html>
