<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="text-align: center;">
    <h2>Update record page</h2>
    <form method="POST">
        <div>
          <label
            >Enter query for find record. Example: id, name, surname, adress, email, phone:
            <input type="text" name="query"
          /></label>
        </div>
        <div>
          <label
            >Enter data for query do you want to update: <input type="text" name="data"
          /></label>
        </div>
        <div>
            <label
              >Enter the field do you want to update:
              <input type="text" name="field"
            /></label>
          </div>
          <div>
            <label
              >Enter the new data for update: <input type="text" name="new_data"
            /></label>
          </div>
        <input type="submit" value="Update" style="font-size: 24px; color: rgb(16, 172, 5)"/>
  </body>
</html>
